footer {
    background-color: #fff;
    background: #333A44;
    height: 96px;
    padding: 22px 0;

    .footer {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        &__ul {
            list-style-type: none;
            display: flex;
            width: 380px;
            justify-content: flex-start;
            align-items: center;


            &__li {
                &:nth-child(2) {
                    margin-left: 25px;
                }

                &:nth-child(3) {
                    margin-left: 25px;

                }

                &:nth-child(4) {
                    margin-left: 25px;

                }

                &-link {
                    text-decoration: none;
                    color: #939CAA;

                    &:hover {
                        color: #FCB72B;
                    }
                }

            }


        }

        &__icon {
            a {
                text-decoration: none;
                font-size: 36px;
                color: #FCB72B;
                margin-top: 55px;

                i {
                    margin: 0 15px;

                    &:hover {
                        color: #939CAA;

                    }
                }
            }


        }
    }
}



@media only screen and (max-width: 576px) {
    footer {
        background-color: #fff;
        background: #333A44;
        padding: 22px 0;
        height: 450px;

        .footer {
            display: flex;
            width: 100%;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            margin: 30px 0;

            &__ul {
                list-style-type: none;
                display: flex;
                align-items: center;
                flex-direction: column;


                &__li {
                    margin: 15px;

                    &-link {
                        text-decoration: none;
                        color: #939CAA;

                        &:hover {
                            color: #FCB72B;
                        }
                    }


                }
            }

            &__icon {


                a {
                    text-decoration: none;
                    font-size: 36px;
                    color: #FCB72B;
                    margin-top: 55px;

                    i {
                        margin: 0 15px;

                        &:hover {
                            color: #939CAA;

                        }
                    }
                }


            }

        }
    }
}