.location {
    margin: 150px 0;

    &__wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        &__card {
            width: 350px;
            position: relative;

            &-img {
                margin-bottom: 25px;
                width: 96px;
                height: 96px;
                border-radius: 50%;
                background: #FCB72B;

                img {
                    padding: 30px;
                }
            }

            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 18px;
                background-color: #e5ecf4;
                left: -300px;
                z-index: -1;
                top: 40px;
            }
        }
    }
}




@media only screen and(max-width:1024px) {
    .location {
        margin: 150px 0;

        &__wrapper {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            &__card {
                width: 65%;
                position: relative;
                display: flex;
                justify-content: space-between;
                margin: 25px 0;

                &-img {
                    margin-bottom: 25px;
                    width: 96px;
                    height: 96px;
                    border-radius: 50%;
                    background: #FCB72B;
                    margin-right: 100px;


                    img {
                        padding: 30px;
                    }
                }

                &::before {
                    position: absolute;
                    content: "";
                    width: 1rem;
                    height: 100%;
                    background-color: #e5ecf4;
                    left: 45px;
                    z-index: -99;
                    top: -100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .location {
        margin: 150px 0;

        &__wrapper {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            

            &__card {
                width: 80%;
                position: relative;
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin: 25px 0;
                align-items: center;
                text-align: center;
                max-width: 350px;

                &-img {
                    margin-bottom: 25px;
                    width: 96px;
                    height: 96px;
                    border-radius: 50%;
                    background: #FCB72B;
                    margin: 0;
                    


                    img {
                        padding: 30px;
                    }
                }
                h3{
                    margin: 15px 0;
                }

                &::before {
                    display: none;
                }
            }
        }
    }
}