.value {
    text-align: center;

    &__wrapper {
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 35px 0;

        &__card {
            width: 350px;

            &-img {

                span {
                    padding: 34px;
                    font-size: 24px;
                    background: #FCB72B;
                    border-radius: 50%;
                    box-sizing: border-box;
                    margin: 15px;
                    &:hover{
                        opacity: 0.5;
                    }
                }
            }

            &-title {
                margin: 55px 0;
            }
        }
    }
}